.background {
  background-color: var(--night);
  color: var(--antique-white);
}

.background .container {
  width: 100%;
  max-width: 1400px;
  padding: 120px 40px;
}

.background .text-section-title {
  margin-bottom: 40px;
}

.background .container-inner {
  display: flex;
  gap: 32px;
}

.timeline {
  height: 2000px;
  display: flex;
  gap: 8px;
}

.line {
  width: 8px;
  flex-shrink: 0;
}

.bsc-line {
  background-color: var(--light-sky-blue);
  height: calc(100% * 31 / 56);
}

.pre-msc-line {
  height: calc(100% * 4 / 56);
}

.msc-line {
  background-color: var(--medium-slate-blue);
  height: calc(100% * 21 / 56);
}

.pre-toyota-line {
  height: calc(100% * 31 / 56);
}

.toyota-line {
  background-color: var(--light-red);
  height: calc(100% * 4 / 56);
}

.exchange-line {
  background-color: var(--mindaro);
  height: calc(100% * 5 / 56);
}

.pre-volvo-summer-line {
  height: calc(100% * 3 / 56);
}

.volvo-summer-line {
  background-color: var(--persian-pink);
  height: calc(100% * 3 / 56);
}

.volvo-autumn-line {
  background-color: var(--saffron);
  height: calc(100% * 2 / 56);
}

.pre-volvo-thesis-line {
  height: calc(100% * 2 / 56);
}

.volvo-thesis-line {
  background-color: var(--screamin-green);
  height: calc(100% * 6 / 56);
}

.background .descriptions {
  display: flex;
  flex-direction: column;
  gap: 2lh;
}

.description-text {
  margin-top: 8px;
}

.bsc-description .heading {
  color: var(--light-sky-blue);
}

.toyota-description .heading {
  color: var(--light-red);
}

.exchange-description .heading {
  color: var(--mindaro);
}

.msc-description .heading {
  color: var(--medium-slate-blue);
}

.volvo-summer-description .heading {
  color: var(--persian-pink);
}

.volvo-autumn-description .heading {
  color: var(--saffron);
}

.volvo-thesis-description .heading {
  color: var(--screamin-green);
}

.bsc-courses,
.msc-courses {
  display: inline-block;
  --min-size: 4 * 27;
  --max-size: 2 * 36;
  --slope: (var(--max-size) - var(--min-size)) / (var(--max-vw) - var(--min-vw));
  --y-intercept: (var(--min-size) - var(--min-vw) * var(--slope));

  min-height: clamp(
    2lh,
    calc(var(--slope) * 1vw + var(--y-intercept) * 1px),
    4lh
  );
}

.background .typewriter .text {
  font-style: italic;
}
