.contact {
  background-color: var(--light-orange);
  color: var(--night);
  min-height: 90vh;
}

.contact .container {
  max-width: 1400px;
  padding: 120px 40px;
}

.contact .text-section-title {
  margin-bottom: 40px;
}
