.introduction {
  background-color: var(--antique-white);
  min-height: 90vh;
}

.introduction .container {
  width: 100%;
  max-width: 1400px;
  padding: 120px 40px;
}

.typewriter .cursor {
  font-weight: normal;
}
