.introduction {
  background-color: var(--antique-white);
  min-height: 90vh;
}

.introduction .container {
  width: 100%;
  max-width: 1400px;
  padding: 120px 40px;
}

.typewriter .cursor {
  font-weight: normal;
}

.internal-links {
  display: flex;
  gap: 16px;
  margin-top: 1.5lh;
  justify-content: left;
  flex-wrap: wrap;
}

.introduction button {
  background-color: var(--antique-white);
  border: 2px solid var(--night);
  padding: 16px 32px;
}

.introduction button:hover {
  background-color: var(--light-orange);
}
