.project-card {
  max-width: 300px;
  flex-shrink: 1;
  flex-grow: 1;
  border: 1px solid var(--antique-white);
  background-color: var(--antique-white);
  color: var(--eerie-black);
  aspect-ratio: 1 / 1;
}

.project-card:hover {
  background-color: var(--light-orange);
  border-color: var(--light-orange);
  cursor: pointer;
}

.project-card .thumbnail-container {
  display: flex;
  justify-content: center;
  height: 55%;
  background-color: var(--jet);
}

.project-card .thumbnail {
  height: 100%;
  width: auto;
  object-fit: cover;
}

.project-card .text-container {
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 45%;
}

.project-card .project-title {
  text-align: center;
  font-weight: bold;
}

.project-card .details-text {
  text-align: center;
  text-decoration: underline;
}

.project-dialog {
  height: calc(100vh - 80px);
  max-height: 100vh;
  width: calc(100vw - 80px);
  max-width: 100vw;
  margin: 0;
  padding: 0;
  border: none;
  position: fixed;
  display: flex;
  margin: 40px;
}

@media (orientation: landscape) {
  .project-dialog {
    flex-direction: row;
  }

  .project-dialog .image-container {
    width: 70%;
    height: 100%;
  }

  .project-dialog .text-container {
    width: 30%;
    height: 100%;
  }

  .project-dialog .title {
    margin-right: 64px;
  }
}

@media (orientation: portrait) {
  .project-dialog {
    flex-direction: column;
  }

  .project-dialog .image-container {
    width: 100%;
    height: 40%;
  }

  .project-dialog .text-container {
    width: 100%;
    height: 60%;
  }

  .project-dialog .title {
    margin-right: 16px;
  }
}

.project-dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.8);
}

.project-dialog:focus {
  outline: none;
}

.project-dialog .image-container {
  background-color: var(--jet);
}

.project-dialog .text-container {
  background-color: var(--antique-white);
  min-width: 360px;
}

.project-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.project-dialog .text-container {
  padding: 16px;
  overflow-y: auto;
}

.project-dialog .title {
  font-size: 2.5rem;
  margin-left: 16px;
}

.project-dialog .tech-stack {
  margin: 0 16px;
  margin-top: 4px;
  font-size: 1rem;
  text-transform: uppercase;
}

.project-dialog .description {
  margin: 0 16px;
  margin-top: 16px;
}

.close-button {
  height: 48px;
  width: 48px;
  padding: 0;
  border: 2px solid var(--night);
  background-color: var(--antique-white);
  position: absolute;
  top: 16px;
  right: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.close-button:hover {
  background-color: var(--light-orange);
}
