.project-card {
  max-width: 300px;
  flex-shrink: 1;
  flex-grow: 1;
  border: 1px solid var(--antique-white);
  background-color: var(--antique-white);
  color: var(--eerie-black);
  aspect-ratio: 1 / 1;
}

.project-card:hover,
.project-card:focus {
  background-color: var(--light-orange);
  border-color: var(--light-orange);
  cursor: pointer;
}

.project-card .thumbnail-container {
  display: flex;
  justify-content: center;
  height: 55%;
  background-color: var(--jet);
}

.project-card .thumbnail {
  height: 100%;
  width: auto;
  object-fit: cover;
}

.project-card .text-container {
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 45%;
}

.project-card .project-title {
  text-align: center;
}

.project-card .details-text {
  text-align: center;
  text-decoration: underline;
}

.project-dialog {
  height: calc(100vh - 80px);
  max-height: 100vh;
  width: calc(100vw - 80px);
  max-width: 100vw;
  margin: 0;
  padding: 0;
  border: none;
  position: fixed;
  display: flex;
  margin: 40px;
}

@media (orientation: landscape) {
  .project-dialog {
    flex-direction: row;
  }

  .project-dialog .media-container {
    width: 70%;
    height: 100%;
  }

  .project-dialog .text-container {
    width: 30%;
    height: 100%;
  }

  .project-dialog .title {
    margin-right: 64px;
  }

  .close-button {
    border: 2px solid var(--night);
    background-color: var(--antique-white);
    color: var(--night);
  }

  .close-button:hover {
    background-color: var(--light-orange);
  }
}

@media (orientation: portrait) {
  .project-dialog {
    flex-direction: column;
  }

  .project-dialog .media-container {
    width: 100%;
    height: 40%;
  }

  .project-dialog .text-container {
    width: 100%;
    height: 60%;
  }

  .project-dialog .title {
    margin-right: 16px;
  }

  .close-button {
    border: none;
    background-color: var(--night);
    opacity: 0.5;
    color: var(--antique-white);
  }

  .close-button:hover,
  .close-button:focus {
    opacity: 1;
  }
}

.project-dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.project-dialog .media-container {
  background-color: var(--jet);
  position: relative;
  display: flex;
  align-items: center;
}

.project-dialog .text-container {
  background-color: var(--antique-white);
  min-width: 280px;
}

.project-media {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  margin: auto;
}

.project-dialog .text-container {
  padding: 16px;
  overflow-y: auto;
}

.project-dialog .title {
  --min-size: 1.5 * 16;
  --max-size: 2.5 * 16;
  --slope: (var(--max-size) - var(--min-size)) / (var(--max-vw) - var(--min-vw));
  --y-intercept: (var(--min-size) - var(--min-vw) * var(--slope));

  font-size: clamp(
    1.5rem,
    calc(var(--slope) * 1vw + var(--y-intercept) * 1px),
    2.5rem
  );
  margin-left: 16px;
}

.project-dialog .tech-stack {
  margin: 0 16px;
  margin-top: 4px;
  font-size: 1rem;
  text-transform: uppercase;
}

.project-dialog .description {
  margin: 0 16px;
  margin-top: 16px;
}

.project-dialog button {
  padding: 0;
  justify-content: center;
  align-items: center;
}

.close-button {
  height: 48px;
  width: 48px;
  position: absolute;
  top: 16px;
  right: 16px;
  display: flex;
}

.project-dialog .button-container {
  position: absolute;
  bottom: 16px;
  display: flex;
  left: 16px;
  right: 16px;
  margin: auto;
  justify-content: space-between;
}

.project-dialog .button-container button {
  --min-size: 48;
  --max-size: 72;
  --slope: (var(--max-size) - var(--min-size)) / (var(--max-vw) - var(--min-vw));
  --y-intercept: (var(--min-size) - var(--min-vw) * var(--slope));

  width: clamp(48px, calc(var(--slope) * 1vw + var(--y-intercept) * 1px), 72px);
  height: clamp(
    48px,
    calc(var(--slope) * 1vw + var(--y-intercept) * 1px),
    72px
  );
  background-color: var(--night);
  opacity: 0.5;
  color: var(--antique-white);
  border: none;
}

.project-dialog .button-container button:hover,
.project-dialog .button-container button:focus {
  opacity: 1;
}

.project-dialog .button-container .material-symbols-outlined {
  --min-size: 24;
  --max-size: 36;
  --slope: (var(--max-size) - var(--min-size)) / (var(--max-vw) - var(--min-vw));
  --y-intercept: (var(--min-size) - var(--min-vw) * var(--slope));

  font-size: clamp(
    24px,
    calc(var(--slope) * 1vw + var(--y-intercept) * 1px),
    36px
  );
}

.project-dialog a {
  color: inherit;
}
