.projects {
  background-color: var(--eerie-black);
  color: var(--antique-white);
  min-height: 90vh;
}

.projects .container {
  width: 100%;
  max-width: 1400px;
  padding: 120px 40px;
}

.projects .text-section-title {
  margin-bottom: 40px;
}
