.typewriter .reserved-space {
  word-break: break-all;
  visibility: hidden;
}

.typewriter .blinking-cursor {
  animation: blink 1s step-end infinite;
}

@keyframes blink {
  from,
  to {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
