@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Questrial&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Questrial", "Urbanist", "Montserrat", sans-serif;
  background-color: var(--antique-white);
  color: var(--night);
}

:root {
  --night: #161413;
  --eerie-black: #201e1c;
  --jet: #35312e;
  --desert-sand: #e4c4a3;
  --almond: #f2dac1;
  --antique-white: #ffefdf;
  --aero: #52c0d9;
  --indian-red: #d95252;
  --emerald: #52d97b;
  --royal-blue: #5274d9;
  --citron: #d9cb52;
  --burnt-sienna: #d97652;
  --mulberry: #d9529f;
}

#root {
}

.introduction {
  background-color: var(--antique-white);
  padding: 160px;
  min-height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  font-size: 80px;
  line-height: 1.2;
  font-weight: bold;
}

.heading {
  font-size: 60px;
  line-height: 1.2;
  font-weight: bold;
}

.heading-small {
  font-size: 20px;
  line-height: 1.2;
  font-weight: bold;
}

.text-big {
  font-size: 28px;
}

.text-medium {
  font-size: 22px;
}

.background {
  background-color: var(--night);
  color: var(--antique-white);
  padding: 160px;
}

.background .heading {
  margin-bottom: 40px;
}

.background .container {
  display: flex;
  gap: 20px;
}

.timeline {
  display: flex;
  gap: 8px;
}

.line {
  width: 8px;
  flex-shrink: 0;
}

.bsc-line {
  background-color: var(--aero);
  height: 620px;
}

.toyota-line {
  background-color: var(--indian-red);
  height: 80px;
  margin-top: 620px;
}

.exchange-line {
  background-color: var(--emerald);
  height: 100px;
}

.msc-line {
  background-color: var(--royal-blue);
  height: 420px;
  margin-top: 80px;
}

.volvo-summer-line {
  background-color: var(--citron);
  height: 60px;
  margin-top: 60px;
}

.volvo-autumn-line {
  background-color: var(--burnt-sienna);
  height: 40px;
}

.volvo-thesis-line {
  background-color: var(--mulberry);
  height: 120px;
  margin-top: 40px;
}

.background .descriptions {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.bsc-description .heading-small {
  color: var(--aero);
}

.toyota-description .heading-small {
  color: var(--indian-red);
}

.exchange-description .heading-small {
  color: var(--emerald);
}

.msc-description .heading-small {
  color: var(--royal-blue);
}

.volvo-summer-description .heading-small {
  color: var(--citron);
}

.volvo-autumn-description .heading-small {
  color: var(--burnt-sienna);
}

.volvo-thesis-description .heading-small {
  color: var(--mulberry);
}

.projects {
  background-color: var(--eerie-black);
  height: 400px;
}
