@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Questrial&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined");

body {
  font-family: "Questrial", "Urbanist", "Montserrat", sans-serif;
  background-color: var(--antique-white);
  color: var(--night);
  overscroll-behavior: none;
}

body.noscroll {
  width: 100%;
  overflow: hidden;
}

*:focus {
  outline: none;
}

:root {
  --night: #161413;
  --eerie-black: #201e1c;
  --jet: #35312e;
  --light-orange: #ffdcb8;
  --antique-white: #ffefdf;
  --light-sky-blue: #6ec9f7;
  --light-red: #f76e6e;
  --mindaro: #c9f76e;
  --medium-slate-blue: #6e6ef7;
  --persian-pink: #f986d2;
  --saffron: #f7c96e;
  --screamin-green: #6ef76e;
  --min-vw: 3.75;
  --max-vw: 17.1;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button:hover,
a:hover {
  cursor: pointer;
}

a {
  text-decoration: underline;
}

.text-title {
  --min-size: 2.25 * 16;
  --max-size: 5 * 16;
  --slope: (var(--max-size) - var(--min-size)) / (var(--max-vw) - var(--min-vw));
  --y-intercept: (var(--min-size) - var(--min-vw) * var(--slope));

  font-size: clamp(
    2.25rem,
    calc(var(--slope) * 1vw + var(--y-intercept) * 1px),
    5rem
  );
}

.text-undertitle {
  --min-size: 1.25 * 16;
  --max-size: 1.75 * 16;
  --slope: (var(--max-size) - var(--min-size)) / (var(--max-vw) - var(--min-vw));
  --y-intercept: (var(--min-size) - var(--min-vw) * var(--slope));

  font-size: clamp(
    1.25rem,
    calc(var(--slope) * 1vw + var(--y-intercept) * 1px),
    1.75rem
  );
}

.text-section-title {
  --min-size: 2.25 * 16;
  --max-size: 3.75 * 16;
  --slope: (var(--max-size) - var(--min-size)) / (var(--max-vw) - var(--min-vw));
  --y-intercept: (var(--min-size) - var(--min-vw) * var(--slope));

  font-size: clamp(
    2.25rem,
    calc(var(--slope) * 1vw + var(--y-intercept) * 1px),
    3.75rem
  );
}

.heading {
  line-height: 1.2;
  font-weight: bold;
}

.text-big {
  font-size: 1.75rem;
}

.text-big-responsive {
  --min-size: 1.5 * 16;
  --max-size: 1.75 * 16;
  --slope: (var(--max-size) - var(--min-size)) / (var(--max-vw) - var(--min-vw));
  --y-intercept: (var(--min-size) - var(--min-vw) * var(--slope));

  font-size: clamp(
    1.5rem,
    calc(var(--slope) * 1vw + var(--y-intercept) * 1px),
    1.75rem
  );
}

.text-medium {
  font-size: 1.5rem;
}

.text-medium-responsive {
  --min-size: 1.125 * 16;
  --max-size: 1.5 * 16;
  --slope: (var(--max-size) - var(--min-size)) / (var(--max-vw) - var(--min-vw));
  --y-intercept: (var(--min-size) - var(--min-vw) * var(--slope));

  font-size: clamp(
    1.125rem,
    calc(var(--slope) * 1vw + var(--y-intercept) * 1px),
    1.5rem
  );
}

.text-small {
  font-size: 1.25rem;
}

.text-small-responsive {
  --min-size: 1 * 16;
  --max-size: 1.25 * 16;
  --slope: (var(--max-size) - var(--min-size)) / (var(--max-vw) - var(--min-vw));
  --y-intercept: (var(--min-size) - var(--min-vw) * var(--slope));

  font-size: clamp(
    1rem,
    calc(var(--slope) * 1vw + var(--y-intercept) * 1px),
    1.25rem
  );
}

footer {
  background-color: var(--antique-white);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

footer .container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  max-width: 1400px;
}

footer .footer-links {
  display: flex;
  justify-content: space-between;
  padding: 0 28px;
  flex-wrap: wrap;
}

.footer-links a {
  font-size: 1.25rem;
  padding: 12px;
}

footer a {
  color: inherit;
}

footer p {
  padding: 0 40px;
  text-align: center;
}
