@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Questrial&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined");

body {
  font-family: "Questrial", "Urbanist", "Montserrat", sans-serif;
  background-color: var(--antique-white);
  color: var(--night);
}

:root {
  --night: #161413;
  --eerie-black: #201e1c;
  --jet: #35312e;
  --light-orange: #ffdcb8;
  --antique-white: #ffefdf;
  --light-sky-blue: #6ec9f7;
  --light-red: #f76e6e;
  --mindaro: #c9f76e;
  --medium-slate-blue: #6e6ef7;
  --persian-pink: #f986d2;
  --saffron: #f7c96e;
  --screamin-green: #6ef76e;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button:hover {
  cursor: pointer;
}

a {
  text-decoration: underline;
}

a:hover {
  cursor: pointer;
}

.text-title {
  font-size: clamp(2.25rem, 5vw, 5rem);
}

.text-undertitle {
  font-size: clamp(1.25rem, 5vw, 1.75rem);
}

.text-section-title {
  font-size: clamp(2.25rem, 5vw, 3.75rem);
}

.heading {
  line-height: 1.2;
  font-weight: bold;
}

.text-big {
  font-size: 1.75rem;
}

.text-medium {
  font-size: 1.5rem;
}

.text-medium-responsive {
  font-size: clamp(1.25rem, 4vw, 1.5rem);
}

.text-small {
  font-size: 1.25rem;
}

footer {
  background-color: var(--antique-white);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

footer .container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  max-width: 1400px;
}

footer .footer-links {
  display: flex;
  justify-content: space-between;
  padding: 0 28px;
  flex-wrap: wrap;
}

.footer-links a {
  font-size: 1.25rem;
  padding: 12px;
}

.footer-links a:hover {
  cursor: pointer;
}

footer a {
  color: inherit;
}

footer p {
  padding: 0 40px;
  text-align: center;
}
