@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Questrial&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Questrial", "Urbanist", "Montserrat", sans-serif;
  background-color: var(--antique-white);
  color: var(--night);
}

:root {
  --night: #161413;
  --eerie-black: #201e1c;
  --jet: #35312e;
  --desert-sand: #e4c4a3;
  --almond: #f2dac1;
  --antique-white: #ffefdf;
  --light-sky-blue: #6ec9f7;
  --light-red: #f76e6e;
  --mindaro: #c9f76e;
  --medium-slate-blue: #6e6ef7;
  --persian-pink: #f986d2;
  --saffron: #f7c96e;
  --screamin-green: #6ef76e;
}

#root {
}

.introduction {
  background-color: var(--antique-white);
  padding: 160px;
  min-height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  font-size: 80px;
  line-height: 1.2;
  font-weight: bold;
}

.heading {
  font-size: 60px;
  line-height: 1.2;
  font-weight: bold;
}

.heading-small {
  font-size: 20px;
  line-height: 1.2;
  font-weight: bold;
}

.text-big {
  font-size: 28px;
}

.text-medium {
  font-size: 22px;
}

.background {
  background-color: var(--night);
  color: var(--antique-white);
  padding: 160px;
}

.background .heading {
  margin-bottom: 40px;
}

.background .container {
  display: flex;
  gap: 20px;
}

.timeline {
  display: flex;
  gap: 8px;
}

.line {
  width: 8px;
  flex-shrink: 0;
}

.bsc-line {
  background-color: var(--light-sky-blue);
  height: 620px;
}

.toyota-line {
  background-color: var(--light-red);
  height: 80px;
  margin-top: 620px;
}

.exchange-line {
  background-color: var(--mindaro);
  height: 100px;
}

.msc-line {
  background-color: var(--medium-slate-blue);
  height: 420px;
  margin-top: 80px;
}

.volvo-summer-line {
  background-color: var(--persian-pink);
  height: 60px;
  margin-top: 60px;
}

.volvo-autumn-line {
  background-color: var(--saffron);
  height: 40px;
}

.volvo-thesis-line {
  background-color: var(--screamin-green);
  height: 120px;
  margin-top: 40px;
}

.background .descriptions {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.bsc-description .heading-small {
  color: var(--light-sky-blue);
}

.toyota-description .heading-small {
  color: var(--light-red);
}

.exchange-description .heading-small {
  color: var(--mindaro);
}

.msc-description .heading-small {
  color: var(--medium-slate-blue);
}

.volvo-summer-description .heading-small {
  color: var(--persian-pink);
}

.volvo-autumn-description .heading-small {
  color: var(--saffron);
}

.volvo-thesis-description .heading-small {
  color: var(--screamin-green);
}

.typewriter-inline {
  display: inline;
}

.typewriter-inline > div {
  display: inline;
}

.projects {
  background-color: var(--eerie-black);
  height: 400px;
}
