@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Questrial&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Questrial", "Urbanist", "Montserrat", sans-serif;
  background-color: var(--antique-white);
  color: var(--night);
}

:root {
  --night: #161413;
  --eerie-black: #201e1c;
  --jet: #35312e;
  --desert-sand: #e4c4a3;
  --almond: #f2dac1;
  --antique-white: #ffefdf;
  --light-sky-blue: #6ec9f7;
  --light-red: #f76e6e;
  --mindaro: #c9f76e;
  --medium-slate-blue: #6e6ef7;
  --persian-pink: #f986d2;
  --saffron: #f7c96e;
  --screamin-green: #6ef76e;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-title {
  font-size: clamp(2.25rem, 5vw, 5rem);
}

.text-undertitle {
  font-size: clamp(1.25rem, 5vw, 1.75rem);
}

.text-section-title {
  font-size: clamp(2.25rem, 5vw, 3.75rem);
}

.heading {
  line-height: 1.2;
  font-weight: bold;
}

.text-big {
  font-size: 1.75rem;
}

.text-medium {
  font-size: 1.5rem;
}

.text-medium-responsive {
  font-size: clamp(1.25rem, 4vw, 1.5rem);
}

.text-small {
  font-size: 1.25rem;
}

.projects {
  background-color: var(--eerie-black);
  height: 400px;
}
